<div class="card">
  <div class="card-header">Lista de Cursos</div>
  <div class="card-body">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Precio</th>
            <th scope="col">Rating</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Icono</td>
            <td>Angular</td>
            <td>Angular Desde Cero</td>
            <td>Setiembre 29, 2019</td>
            <td>29.99</td>
            <td>4.9</td>
            <td></td>
          </tr>
          <tr>
            <td>Icono</td>
            <td>TypeScript</td>
            <td>TypeScript Desde Cero</td>
            <td>Agosto 20, 2019</td>
            <td>29.99</td>
            <td>4.9</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
