<div class="card">
  <div class="card-header">
    <h1>Nuevo Curso</h1>
  </div>
  <!-- <pre>
    {{ model | json }}
  </pre> -->
  <div class="card-body">
    <form class="px-5" #formAdd="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre*</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Ingrese Nombre"
          name="name"
          [(ngModel)]="model.name"
          #name="ngModel"
          minlength="10"
          required
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <div
            *ngIf="name.errors?.['required']"
            class="my-1 alert alert-danger"
          >
            Nombre es requerido
          </div>
          <div
            *ngIf="name.errors?.['minlength']"
            class="my-1 alert alert-danger"
          >
            El nombre debe tener al menos 10 caracteres.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción*</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Descripción"
          name="description"
          [(ngModel)]="model.description"
          #description="ngModel"
          minlength="10"
          required
        />
        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
        >
          <div
            *ngIf="description.errors?.['required']"
            class="my-1 alert alert-danger"
          >
            Descripción es requerida
          </div>
          <div
            *ngIf="description.errors?.['minlength']"
            class="my-1 alert alert-danger"
          >
            La descripción debe tener al menos 10 caracteres.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio*</label>
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Precio"
          name="price"
          [(ngModel)]="model.price"
          #price="ngModel"
          min="10"
          required
        />
        <div
          *ngIf="price.invalid && (price.dirty || price.touched)"
          class="my-1 alert alert-danger"
        >
          Precio es requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">URL de imagen*</label>
        <input
          type="text"
          class="form-control"
          id="url"
          placeholder="URL de imagen"
          name="url"
          [(ngModel)]="model.imageUrl"
          #url="ngModel"
          required
        />
        <div
          *ngIf="url.invalid && (url.dirty || url.touched)"
          class="my-1 alert alert-danger"
        >
          URL de imagen es requerida
        </div>
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="active"
          name="activo"
        />
        <label class="form-check-label" for="active">Curso Activo</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="formAdd.form.invalid || formAdd.form.untouched"
      >
        Crear Curso
      </button>
    </form>
  </div>
  <div>
    <pre>
      Form.valid: {{ formAdd.form.valid }}
      Form.invalid: {{ formAdd.form.invalid }}
      Form.touched: {{ formAdd.form.touched }}
      Form.untouched: {{ formAdd.form.untouched }}
      Form.pristine: {{ formAdd.form.pristine }}
      Form.dirty: {{ formAdd.form.dirty }}
    </pre>
  </div>
</div>
